body{
  background-color: black;
  color: white;
}

html{
  scroll-behavior: smooth;
}

.btns-excirsise{
  background-color: beige;
  color: black;
}

.container-learning{
  background-color: aquamarine;
  color: black;
}

.round-button{
  height: 130px;
  width: 130px;
}

.con-widht{
  width: 900px;
}

.scrollable-container{
  overflow-y: auto;
  max-height: 800px;
  scrollbar-width: none;
}

.nav-bar-element:hover{
  background-color: rgba(189, 182, 182, 0.8);
}

.nav-bar-element{
  height: 40px;
}

.card{
  max-width: 500px;
  height: 300px;
  color: white;
}

.img-card{
  width: 100%;
  height: 300px;
}

body{
  font-family: Poppins;
}

.carousel-inner {
  max-height: 700px; /* Adjust based on your needs */
  overflow: hidden;
}

.carousel-item {
  padding: 2rem;
}

.widht-slides{
  max-width: 800px;
  height: 400px;
}
